html {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 15px 0;    
}

p {
    margin-bottom: 5px;
}

.form-control {
    line-height: .75;
}

.form-group {
    margin-bottom: -5px;
}

.start {
    background-color: #42583D;
    color: #fff;
}

.running {
    background-color: #98B182;
    color: #b4cba0;
}

.pause {
    background-color: #FB5C4F;
    color: #fff;
}

.stop {
    background-color: #C2180B;
    color: #fff;
}

.reset {
    background-color: #9A0B00;
    color: #FF8278;
}

.credit {
    margin-top: 20px;
    font-size: 50%;
    font-style: italic;
    color: #98B182;
}

.credit p {
    text-align: center; 
}

.credit a {
    color: #42583D;
}

